.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: auto;
  min-height: 40vh;
}

.banner .banner__image,
.banner .banner__image img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.banner .banner__image {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 40vh;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.banner .banner__button {
  margin: 0 auto;
  margin-top: 2rem;
  padding: .5rem 1.5rem;
  background: var(--main-theme__green);
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.75);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: all 0.2s ease-in-out;
}

.banner .banner__button:active,
.banner .banner__button:hover {
  background: var(--main-theme__green-hover);
  color: var(--main-theme__white);
}

.banner .banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.banner .banner__text .banner__text-title {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 1rem;
}

.banner .banner__text .banner__text-description {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
