.cta__container {
  display: flex;
  flex-direction: column;
}

.cta__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.cta__title {
  font-size: 2rem;
  color: var(--theme-color--primary);
}

.btn__cta {
  background: var(--theme-color--primary);
  color: var(--theme-color--white);
  border: 3px solid var(--theme-color--primary);
  margin-top: .5em;
}

.btn__cta:hover,
.btn__cta:active {
  background: var(--theme-color--primary-white);
  color: var(--theme-color--primary);
  border: 3px solid var(--theme-color--primary);
}