.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.product .product__card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  border: 1px solid black;
  text-align: center;
}

.product .product__card:nth-last-child(-n+5) {
  display: none;
}

.product .product__title {
  margin: 0;
  padding: 8px 16px;
}

.product .product__img {
  width: 50%;
  height: 100%;
}

.product .product__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 481px) {
  .product {
    gap: 0;
  }

  .product .product__card {
    width: 50%;
    padding: 8px;
    margin: 1em 2em;
  }

  .product .product__card:nth-last-child(1) {
    display: none;
  }
}

/* iPad optimization */
@media screen and (min-width: 769px) {
  .product .product__card {
    width: 33%;
  }

  .product .product__card:nth-last-child(-n+5) {
    display: flex;
  }

  .product .product__card:nth-last-child(1) {
    display: none;
  }
}

/* Desktop optimization */
@media screen and (min-width: 1025px) {
  .product .product__card {
    width: 25%;
  }

  .product .product__card:nth-last-child(1) {
    display: flex;
  }
}
