.p-highlights__container {
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--theme-color--primary);
  margin-top: 1.75em;
}

.p-highlights__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1.25em;
  border-radius: 15%;
  background-color: var(--theme-color--white);
}

.p-highlights__intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.p-highlights__intro .subtitle {
  color: var(--theme-color--subtitle);
  font-size: 1.25em;
}

.p-highlights__intro .title {
  color: var(--theme-color--black);
  font-size: 2em;
}

.p-highlights__items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 1em;
}

.p-highlights__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em .1em;
}

.p-highlights__item-img,
.p-highlights__item-img img {
  border-radius: 25%;
}

.p-highlights__item-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: .4em;
}

.p-highlights__item-title {
  color: var(--theme-color--black);
  font-size: 1.5em;
}

.p-highlights__item-price {
  color: var(--theme-color--subtitle);
  font-size: 1em;
}