.review__container {
  width: 100%;
}

.review__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color--primary);
}

.review__title {
  margin: 1em;
}

.review__title h1 {
  color: var(--theme-color--white);
}

.review__item .item__title,
.review__item .item__stars,
.review__item .item__description {
  color: var(--theme-color--black);
}

.item__description {
  font-size: 12px;
}

.review__items {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

.review__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color--white);
  border-radius: 20%;
  margin: 1em;
  padding: 2em 1.75em;
}
