/* Default CSS that is inherited through the whole application */
body {
	--color-header-bg: rgb(177, 94, 94);

	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: #eee;
}

.prevent-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Opera and Firefox */
}

.hidden {
	display: none;
}
