.App {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
}

.green-border {
	height: .5em;
	background-color: var(--theme-color--primary);
	color: var(--theme-color--primary);
}

.btn {
	padding: 0.5rem 1rem;
	border: 1px solid var(--theme-color--secondary);
	border-radius: 0.25rem;
	background-color: var(--theme-color--secondary);
	color: var(--theme-color--primary);
	font-family: var(--theme-font--title);
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}